<% if (information) { %>
    <div id="fondo">
        <div class="row">
            <form action="/api/users/update" method="post" id="formu">
                <h4>Actualizar Usuario</h4>
                <input type="text" value="<%= information._id %>" name="id" hidden>
                <div class="row">
                    Nombre: <input type="text" name="name" value="<%= information.name%>" required>
                    Apellido: <input type="text" name="lastname" value="<%= information.lastname %>" required>
                </div>
                <div class="row">
                    Correo: <input type="email" name="email" value="<%= information.email %>" required>
                    Carnet: <input type="text" name="identity_card" value="<%= information.identity_card %>" required>
                </div>
                <div class="row">
                    Usuario: <input type="text" name="user" value="<%= information.user %>" required>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    
    <% } %>