<!-- codigo de el dashbard -->
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <!--<img src="logo.png" alt="">-->
            </span>
            <div class="text logo-text">
                <span class="name">Apparecchio</span>
            </div>
        </div>
        <i class='bx bx-chevron-right toggle'></i>
    </header>
    <!-- Menu de opciones de administracion -->
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/principal">
                        <i><img src="https://img.icons8.com/sf-black-filled/30/null/home.png" /></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/pedidos">
                        <i><img src="https://img.icons8.com/ios-glyphs/30/null/shopping-cart--v1.png" /></i>
                        <span class="text nav-text">Pedidos</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/clientes">
                        <i><img src="https://img.icons8.com/sf-black-filled/30/null/conference-call.png" /></i>
                        <span class="text nav-text">Clientes</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/productos">
                        <i><img src="https://img.icons8.com/material-sharp/30/null/package.png" /></i>
                        <span class="text nav-text">Productos</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/usuarios">
                        <i><img src="https://img.icons8.com/fluency-systems-filled/30/null/user.png" /></i>
                        <span class="text nav-text">Usuarios</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/categorias">
                        <i><img
                                src="https://img.icons8.com/external-others-inmotus-design/30/null/external-Check-List-check-others-inmotus-design.png" /></i>
                        <span class="text nav-text">Categorias</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/marcas">
                        <i><img
                                src="https://img.icons8.com/external-sbts2018-outline-sbts2018/30/null/external-brand-basic-ui-elements-2.2-sbts2018-outline-sbts2018.png" /></i>
                        <span class="text nav-text">Marcas</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/comentarios">
                        <i><img src="https://img.icons8.com/ios-glyphs/30/null/messaging-.png" /></i>
                        <span class="text nav-text">Comentarios</span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="bottom-content">
            <li class="">
                <a href="/">
                    <i><img
                            src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/30/null/external-exit-essentials-tanah-basah-glyph-tanah-basah.png" /></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>
            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <% comments.forEach((data)=> { %>
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="row g-0 d-flex justify-content-center">
                        <div class="col-12">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= data.client %>
                                </h5>
                                <p class="card-text">
                                    <%= data.comment %>
                                </p>
                                <h5>
                                    valoracion: <%= data.review %>
                                </h5>
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-2">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop<%= data._id %>delete">
                                Eliminar
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop<%= data._id %>delete" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar
                                                Producto
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Esta seguro que desea eliminar el comentario del usuario <%= data.client %>?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                            <button class="btn btn-danger"><a
                                                    href="/api/delete/comments?id=<%= data._id %>"
                                                    class="text-light text-decoration-none">Eliminar</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>

    </div>
</div>