<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <!--<img src="logo.png" alt="">-->
            </span>

            <div class="text logo-text">
                <span class="name">Apparecchio</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>
    <!-- Menu de opciones de administracion -->
    <div class="menu-bar">
        <div class="menu">

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/principal">
                        <i><img src="https://img.icons8.com/sf-black-filled/48/null/home.png" /></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/pedidos">
                        <i><img src="https://img.icons8.com/ios-glyphs/40/null/shopping-cart--v1.png" /></i>
                        <span class="text nav-text">Pedidos</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/clientes">
                        <i><img src="https://img.icons8.com/sf-black-filled/48/null/conference-call.png" /></i>
                        <span class="text nav-text">Clientes</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/productos">
                        <i><img src="https://img.icons8.com/material-sharp/42/null/package.png" /></i>
                        <span class="text nav-text">Productos</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/usuarios">
                        <i><img src="https://img.icons8.com/fluency-systems-filled/48/null/user.png" /></i>
                        <span class="text nav-text">Usuarios</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/categorias">
                        <i><img
                                src="https://img.icons8.com/external-others-inmotus-design/40/null/external-Check-List-check-others-inmotus-design.png" /></i>
                        <span class="text nav-text">Categorias</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/Marcas">
                        <i><img
                                src="https://img.icons8.com/external-sbts2018-outline-sbts2018/40/null/external-brand-basic-ui-elements-2.2-sbts2018-outline-sbts2018.png" /></i>
                        <span class="text nav-text">Marcas</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="/">
                    <i><img
                            src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/null/external-exit-essentials-tanah-basah-glyph-tanah-basah.png" /></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>

        </div>
    </div>

</nav>
<section class="home">
    <div class="text">Productos</div>
    <main class="container">
        <div class="row">
            <div class="col-6 d-flex flex-nowrap">
                <form method="post" id="search-form">
                    <div class="input-field  flex-nowrap col-12">
                        <img src="https://img.icons8.com/ios-filled/32/null/search--v1.png" />
                        <input id="search" type="text" name="Buscar " placeholder="Buscar" required>
                        <button type="button" id="btn-search" class="btn waves-effect green tooltipped"
                            data-tooltip="Buscar">
                            <img src="https://img.icons8.com/glyph-neue/40/null/ok--v1.png" />
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    Crear Producto
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear Producto</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                        <form action="/api/products" method="post">
                                            <div class="row">
                                                Producto: <input type="text" name="product" required>
                                                Precio: <input type="text" name="price" required>
                                            </div>
                                            <div class="row">
                                                descripcion: <textarea name="description" id="" cols="30" rows="5"
                                                    required></textarea>
                                                categoria:
                                                <select class="form-select" aria-label="Default select example"
                                                    name="categorie">
                                                    <option selected>Open this select menu</option>
                                                    <% categories.forEach((data)=> { %>
                                                        <option value="<%= data.categorie %>">
                                                            <%= data.categorie %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                            <div class="row">
                                                Marca:
                                                <select class="form-select" aria-label="Default select example"
                                                    name="brand">
                                                    <option selected>Open this select menu</option>
                                                    <% brands.forEach((data)=> { %>
                                                        <option value="<%= data.brand %>">
                                                            <%= data.brand %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                                Cantidad: <input type="number" name="stock" onKeyDown="return false"
                                                    required>
                                                imagen: <input type="file" name="image" required>
                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Graficos
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Garfico</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row" hidden>
                                    <input type="text" id="CT" value="<%= count.data[0] %>">
                                    <input type="text" id="CF" value="<%= count.data[1] %>">
                                    <% countC.forEach((data) => { %>
                                        <input type="text" value="<%= data._id %>" class="categorieProduct">
                                        <input type="text" value="<%= data.count %>" class="categorieProductCount">
                                    <% }) %>
                                </div>
                                <div class="row my-2">
                                    <canvas id="categorieProducts"></canvas>
                                </div>
                                <div class="row my-2">
                                    <canvas id="StatusProducts"></canvas>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-3 border-bottom d-none d-lg-block d-print-block"></div>
        <div class="container">
            <div class="row">
                <% products.forEach((data)=> { %>
                    <div class="col-sm-6">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-4">
                                    <img src="/images/<%= data.image %>" width="200" class="img-fluid rounded-start"
                                        alt="Refrigerador">
                                </div>
                                <div class="col-5">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= data.product %>
                                        </h5>
                                        <p class="card-text">
                                            <%= data.description %>
                                        </p>
                                        <h5>
                                            Precio: $<%= data.price %>
                                        </h5>
                                        <h5>
                                            Categoria: <%= data.categorie %>
                                        </h5>
                                        <h5>
                                            Marca: <%= data.brand %>
                                        </h5>
                                    </div>
                                </div>
                                <div class="d-grid gap-2 col-2">
                                    <button class="btn btn-info mt-3"><a
                                            href="/_updatePorducts/products?id=<%= data._id %>"
                                            class="text-light text-decoration-none">Actualizar</a></button>
                                    <br><br>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop<%= data._id %>delete">
                                        Eliminar
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop<%= data._id %>delete"
                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar
                                                        Producto
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    ¿Esta seguro que desea eliminar el producto <%= data.product %>?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                    <button class="btn btn-danger"><a
                                                            href="/api/products/delete?id=<%= data._id %>"
                                                            class="text-light text-decoration-none">Eliminar</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-warning mb-3" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop<%= data._id %>stock">
                                        Stock
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop<%= data._id %>stock"
                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Stock: <%=
                                                            data.stock %>
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/api/records/" method="post">
                                                        <div class="row mb-2 d-flex align-items-center">
                                                            <div class="col-9">
                                                                <div class="row d-flex flex-nowrap">
                                                                    <div class="col">
                                                                        <h5>Cantidad: </h5>
                                                                    </div>
                                                                    <div class="col">
                                                                        <input type="number" name="stock" id=""
                                                                            onKeyDown="return false" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-1">
                                                                <input type="text" name="id" value="<%= data._id %>"
                                                                    hidden>
                                                                <input type="text" name="product"
                                                                    value="<%= data.product %>" hidden>
                                                                <input type="number" name="prevStock"
                                                                    value="<%= data.stock %>" hidden>
                                                                <button type="submit"
                                                                    class="btn btn-success">Añadir</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary"><a
                                                            href="/historial/<%= data.product %>"
                                                            class="text-light text-decoration-none">Ver historial de
                                                            cambios</a> </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <button type="button" class="btn btn-success"><a
                                            href="/comentarios/<%= data.product %>"
                                            class="text-light text-decoration-none">Comentarios</a> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <input type="text" value="<%= confirmation %>" id="confirmation" hidden>
            <input type="text" value="<%= mensaje %>" id="mensaje" hidden>
            <input type="text" value="<%= icon %>" id="icon" hidden>
        </div>
    </main>
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");


    toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
    })

    modeSwitch.addEventListener("click", () => {
        body.classList.toggle("dark");

        if (body.classList.contains("dark")) {
            modeText.innerText = "Light mode";
        } else {
            modeText.innerText = "Dark mode";

        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/dashboard/producto.js"></script>