<div class="col">
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Añadir a una lista
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="d-flex flex-row flex-wrap">
            <% orders.forEach((data)=> { %>
                <form action="/api/details" method="post">
                    <div class="my-2 mx-1">
                        <div class="card text-center">
                            <div class="card-header">
                                <%= data.status %>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= data.name %>
                                </h5>
                                <p class="card-text">
                                    <input type="text" name="product" value="<%= product.product %>" hidden>
                                    <input type="number" name="price" value="<%= product.price %>" hidden>
                                    <input type="number" name="stock" value="<%= product.stock %>" hidden>
                                    <input type="text" name="id" value="<%= product._id %>" hidden>
                                    <input type="text" name="order" value="<%= data._id %>" hidden>
                                </p>
                                <% if(data.status=='en proceso' ) { %>
                                    <input type="number" max="<%= data.stock %>" min="1" name="amount" required>
                                    <button class="btn btn-primary" type="submit">Añadir</button>
                                    <% } else{ %>
                                        <input type="number" max="<%= data.stock %>" min="1" name="amount" required disabled>
                                        <button class="btn btn-primary" type="submit" disabled>Añadir</button>
                                        <% } %>
                            </div>
                            <div class="card-footer text-muted">
                                <%= data.date %>
                            </div>
                        </div>
                    </div>
                </form>
                <% }) %>
                    <%- include('newList') %>
        </div>
    </div>
</div>