<div class="container">
    <div class="row my-3">
        <% orders.forEach((data)=> { %>
            <div class="col-3 my-2">
                <div class="card text-center">
                    <div class="card-header">
                        <%= data.status %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= data.name %>
                        </h5>
                        <p class="card-text">
                            <%= data.user %>
                        </p>
                        <% if(data.status == 'finalizado') { %>
                            <div class="row">
                                <div class="col">
                                    <a href="/carrito/<%= data._id %>/<%= data.status %>" class="btn btn-primary">Ver detalles</a>
                                </div>
                                <div class="col">
                                    <a href="/api/invoice/<%= data._id %>" class="btn btn-primary" target="_blank">Crear factura</a>
                                </div>
                            </div>
                        <% } else { %>
                            <a href="/carrito/<%= data._id %>/<%= data.status %>" class="btn btn-primary">Ver detalles</a>
                        <% } %>
                    </div>
                    <div class="card-footer text-muted">
                        <%= data.date %>
                    </div>
                </div>
            </div>
            <% }) %>
                <div class="col-3 my-2">
                    <%- include('include/newList') %>
                </div>
    </div>
</div>
<input type="text" value="<%= confirmation %>" id="confirmation" hidden>
<input type="text" value="<%= mensaje %>" id="mensaje" hidden>
<input type="text" value="<%= icon %>" id="icon" hidden>
<script src="/alert.js"></script>
<script src="/detalles.js"></script>