<% if(user=='no user' ) {%>
    <%- include('include/barra') -%>
        <!-- Barra de busqueda -->
        <div class="container py-3 border-bottom d-none d-lg-block d-print-block">
            <div class="row">
                <div class="col-2">
                    <img src="/images/apparecchio logo.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-5 align-self-center">
                    <form class="d-flex">
                        <input class="form-control rounded" id="buscador" type="search" placeholder="Search...." aria-label="Search">
                        <button id="btn-buscar" type="button"><img src="https://img.icons8.com/material-outlined/20/000000/search--v1.png" /></button>
                    </form>
                </div>
                <div class="col-2 d-flex justify-content-center align-self-center">
                    <button type="button" class="btn btn-outline-light" onclick="location.href='/carrito'"><img
                            src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/40/null/external-shopping-cart-miscellaneous-kiranshastry-solid-kiranshastry.png" /></button>
                    <button type="button" class="btn btn-outline-light" id="loginbutton">
                        <img src="https://img.icons8.com/ios-filled/30/null/logout-rounded.png" />
                    </button>
                </div>
                <div class="col-1">

                </div>
                <!-- pantalla login emergente -->
                <div class="overlay py-3">
                    <div class="popup">
                        <div class="global-container d-flex flex-row">
                            <div class="row">
                                <div class="col-6">
                                    <img src="/images/LogoLogin.png" alt="img-fluid" id="login-logo">
                                </div>
                                <div class="col-6 d-flex flex-row">
                                    <div class="card login-form rounded" id="card-login">
                                        <div class="card-body">
                                            <h1 class="text-center">L O G I N</h1>
                                        </div>
                                        <div class="card-text">
                                            <form method="post" action="/login/api/clients">
                                                <div class="mb-5">
                                                    <label for="exampleInputEmail1" class="form-label">Usuario</label>
                                                    <input type="text" class="form-control text-light bg-dark"
                                                        id="exampleInputEmail1" aria-describedby="emailHelp" name="user"
                                                        required>
                                                </div>
                                                <div class="mb-5">
                                                    <label for="exampleInputPassword1"
                                                        class="form-label">Contraseña</label>
                                                    <input type="password" class="form-control text-light"
                                                        id="exampleInputPassword1" name="password" required>
                                                </div>
                                                <div class="mb-5 d-flex justify-content-around">
                                                    <a href="" class="text-light">Olvide mi contraseña</a>
                                                    <a href="/cuenta" class="text-light" type="submit">Crear una
                                                        cuenta</a>
                                                </div>
                                                <div class="d-grid gap-2 col-10 mx-auto">
                                                    <button class="btn btn-primary" type="submit">Ingresar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <button type="button" class="btn-close btn-close-white" aria-label="Close"
                                        id="close-login"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('include/menu') -%>
            <%} else {%>
                <%- include('include/barra') -%>
                    <!-- Barra de busqueda -->
                    <div class="container py-3 border-bottom d-none d-lg-block d-print-block">
                        <div class="row">
                            <div class="col-2">
                                <img src="/images/apparecchio logo.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-5 align-self-center">
                                <form class="d-flex">
                                    <input class="form-control rounded " type="search" placeholder="Search...."
                                        aria-label="Search">
                                    <button><img
                                            src="https://img.icons8.com/material-outlined/20/000000/search--v1.png" /></button>
                                </form>
                            </div>
                            <div class="col-2 d-flex align-self-center justify-content-end">
                                <input type="text" value="<%= user %>" disabled class="border-2 bg-light w-100">
                            </div>
                            <div class="col-2 d-flex justify-content-center align-self-center">
                                <button type="button" class="btn btn-outline-light" onclick="location.href='/carrito'">
                                    <img
                                        src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/40/null/external-shopping-cart-miscellaneous-kiranshastry-solid-kiranshastry.png" /></button>
                                <button type="button" class="btn btn-outline-light" id="loginbutton"
                                    onclick="location.href='/login/api/clients'">
                                    <img src="https://img.icons8.com/ios-filled/30/null/logout-rounded.png" />
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Barra de navegacion -->
                    <%- include('include/menu') -%>
                        <% } %>