<!-- espacio para productos -->
<div class="container">
    <div class="row">        
        <!-- espacio para productos -->
        <div class="col-9 mt-5">
            <div class="row mb-3">
                <div class="row mb-3">
                    <div class="row d-flex justify-content-around" id="Nuevos-productos">
                        <% products.forEach((data)=> { %>
                            <div class="col-2 -align-self-start ">
                                <div class="card text-dark text-center border-1" style="width: 13rem;">
                                    <img src="/images/<%= data.image %>" class="card-img-top rounded" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= data.product %>
                                        </h5>
                                        <h5 class="card-title">
                                            Categoria:
                                            <%= data.categorie %>
                                        </h5>
                                        <h5 class="card-title">
                                            Marca:
                                            <%= data.brand %>
                                        </h5>
                                        <h5>
                                            Productos Existentes: <%= data.stock %>
                                        </h5>

                                        <p class="card-text"></p>
                                        <a href="/producto/<%= data.product %>" class="btn btn-primary rounded">Ver
                                            mas...</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>