<!-- espacio para informacion del producto -->
<div class="container mb-5">
    <% products.forEach((product)=> { %>
        <p class="fs-1 text-center">
            <%= product.product %>
        </p>
        <div class="row mt-3">
            <input type="text" value="<%= user %>" disabled class="border-2 bg-light w-100" hidden>
            <div class="col-7 mt-3">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel slide">
                            <img src="/images/<%=product.image%>" alt="Imagen Producto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row mt-3 ms-3">
                    <p class="fs-2">Precio: $<%= product.price %></p>
                </div>
                <div class="row ms-3">
                    <% if(orders !='null' ) {%>
                        <%- include('include/listas', {product: product}) %>
                        <% } %>
                </div>
                <div class="row ms-3 mt-3">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active bg-light border-dark"
                                id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab"
                                aria-controls="list-home">Descripción:</a>

                        </div>
                    </div>
                    <div class="col-8 bg-dark">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                                aria-labelledby="list-home-list">
                                <%= product.description %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ms-4 mt-3">
                    <div class="col-7 d-flex flex-nowrap justify-content-between">
                        <p class="fs-6 fs-lighter">Compartir:&nbsp;</p>
                        <a href=""><img
                                src="https://img.icons8.com/material-rounded/29/584342/facebook.png" />&nbsp;</a>
                        <a href=""><img src="https://img.icons8.com/windows/32/584342/instagram-new.png" />&nbsp;</a>
                        <a href=""><img src="https://img.icons8.com/ios/23/584342/whatsapp--v1.png" />&nbsp;</a>
                        <a href=""><img src="https://img.icons8.com/ios-filled/23/584342/twitter.png" />&nbsp;</a>
                    </div>

                </div>
            </div>
            <% }) %>
        </div>
        <p class="fs-3 mt-3">Comentarios</p>
        <% comments.forEach((data)=> { %>
            <div class="row">
                <div class="col-7 border-bottom">
                    <p class="fs-6">
                        <%= data.client %>
                    </p>
                    <p class="fs-6">
                        <%= data.comment %>
                    </p>
                </div>
                <% }) %>
            </div>
</div>